{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cust_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    
    <title>Data Display</title>
</head>
<body class="body">
    <ul id="data-list">
        
        
            {% if not data %}
            <h6 class="no_data"></h6>
            {% else %}
            <h6 class="no_data">Reviews</h6>
            {% endif %}
            
            {% for entry in data %}
            <li class="all_intrest">
                {% comment %} <button class="delete-btn" type="submit" name="id" value="{{ entry.id }}">Delete</button> {% endcomment %}
                <div class="detail">
                    <span class="name">⭐ {{ entry.Ratings }} / 5 </span>
                    <p>{{ entry.Name }}</p>
                    <p id="msbox">{{ entry.Custom_msg }}</p>
                
              </div>
            </li>
            {% endfor %}
          
        </ul>

   {% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}
</body>
</html>
