{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <base href="/">
  <link rel="shortcut icon" href="{% static 'images/fevicon.png' %}" type="image/x-icon">
  <title>Mathru Chaya</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <link rel="stylesheet" href="{% static 'css/ourstyle.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/cust_style.css' %}">

  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="{% static 'images/bc4.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid header_top_container">

          <div class="contact_nav" id="home">
            <a href="https://maps.app.goo.gl/chrrw2NMqCtXfQdKA">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
            <a href="https://wa.me/+918655264351">
              <img src="{% static 'images/wame(1).png' %}" alt="" height="30px">
              <span>
                 &nbsp Call : +91 8655264351
              </span>
            </a>
            <a href="mailto:mathruchaya58@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                mathruchaya58@gmail.com
              </span>
            </a>
          </div>
          <!-- <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div> -->
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <!-- <a class="navbar-brand " href="index.html" > <img src="{% static 'images/c1logo2.png' %}" alt="" height="50px"> </a> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                
                <li class="nav-item">
                  <a class="nav-link" href="#about_stop"> Facilities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#place_stop">Places Nearby</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="team.html"> Team </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="https://wa.me/+918655264351">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pre_stop">Precautions</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                  <div class="detail-box">
                    <img id="logo_big" src="{% static 'images/logo.png' %}" alt="" height="500px" style="margin-bottom: 20px;">
                    <p>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                       Near Sagar Vidya Mandir,Nadsal,Padubidri, Karnataka 574111
                    </p>
                    <div class="btn-box">
                      <a href="https://wa.me/+918655264351" class="btn1">
                        +918655264351
                      </a>
                    </div>
                    <br>
                    <h5> We have been registered under Section 8, Karnataka Tourism Trade Act, 2015 as 'Homestay'.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- button to move top -->
 
  <!-- button to move top ends -->


  <!-- service section -->
 <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        
          <h2 class="">
            ABOUT US
          </h2>
         <br/>
          <p class="detail_p_mt">
            Mathruchaya Beach Home is located right in front of Arabian sea near Sagar Vidya Mandir. It is the right choice for visitors who are searching for a combination of charm and a convenient position to enjoy with their family of 4 or more members. Just 50 meters away from Padubidri beach, which is considered as one of the cleanest beach. Ideal location for family picnic get-together or those who are coming for bhoota kola or religious function. Don't miss to stay in newly built clean and tidy home stay.
          </p>
       
<br>
      </div>
      {% comment %} <div class="play_vid">

      </div> {% endcomment %}
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel about_us">

            <div class="item" id="i1">
              <img src="{% static 'images/hp1.jpg' %}" alt="" />
            </div>Q

           
            <div class="item">
              <img src="{% static 'images/mathru4.jpg' %}" alt="" />
            </div> 

            <div class="item">
              <img src="{% static 'images/mathru3.jpg' %}" alt="" />
            </div>

            <div class="item">
              <img src="{% static 'images/hpi10.jpg' %}" alt="" />
            </div>

            <div class="item vid" id="i1">
              <video autoplay muted controls width="400" height="300">
                <source src="{% static 'images/VID-20231031-WA0001.mp4' %}" type="video/mp4" >
                {% comment %} Your browser does not support the video tag. {% endcomment %}
              </video> 
            </div>

            <div class="item">
              <img src="{% static 'images/hpi2.jpg' %}" alt="" />
            </div>

            <div class="item">
              <img src="{% static 'images/hpi3.jpg' %}" alt="" />
            </div>

           

            <div class="item">
              <img src="{% static 'images/hpi4.jpg' %}" alt="" />
            </div>
            
            <div class="item">
              <img src="{% static 'images/hpi6.jpg' %}" alt="" />
             
            </div>

            <div class="item">
              <img src="{% static 'images/k1.jpg' %}" alt="" />
             
            </div>

            <div class="item vid" id="i1">
              <video autoplay muted  controls width="400" height="300">
                <source src="{% static 'images/VID-20231031-WA0000.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              
            </div>
    
           <div class="item">
              <img src="{% static 'images/mathru1.jpg' %}" alt="" />
              
            </div>

            <div class="item">
              <img src="{% static 'images/hpi.jpg' %}" alt="" />
            </div>


          </div>
          
      </div>
      
      
      <div id="about_stop">

      </div>
    </div>
  </section>
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="">
          Our Facilities
        </h2>
        <p class="col-lg-8 px-0">
          Each of our two houses features two comfortable bedrooms, a spacious hall designed for relaxation and entertainment with fully equipped kitchen. 1 house is normally meant for 4 persons, but we had accommodated upto 10 persons by providing extra bed or double lauxary bed mattress. It is a 2 bhk house with one A/c and non A/c bedrooms.
          Homestay rooms, bathrooms and kitchens are well maintained neat and tidy.

        </p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/bedroom.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Bedroom
                  </h5>
                  <p>
                  One air-conditioned and another non-air-conditioned rooms available, with attached washroom in one of the room.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/kitchen.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Kitchen
                  </h5>
                  <p>
                    A fully equipped kitchen with a cylinder, gas stove along with tea, coffee, milk powder, spices and all essential cooking utensils
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/hotwater.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Hot Water
                  </h5>
                  <p>
                    Hot Water Facilities is available in each Washroom
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/space_room.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Spacious hall
                  </h5>
                  <p>
                    A spacious hall with complimentary WiFi, a flat-screen TV, and uninterrupted power supply(solar).
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/food.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Food
                  </h5>
                  <p>
                  Guests have the option to prepare their meals or conveniently order from nearby restaurants, the contact details of which will be readily available.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/water.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                    Drinking Water
                  </h5>
                  <p>
                    We provide our guests with a free drinking water(bisleri) thoughtfully dispensed via a container and dispenser.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <div class="img-box">
                  <img src="{% static 'images/s6.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>
                   Parking
                  </h5>
                  <p>
                    We offer parking space within our premises to ensure the convenience and safety of your vehicles.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="about_stop">
      </div>
      <br>
      <br>
          <br>
        <p>
            Note: Drastic reduction in tariff for guests who book for 5 days or more to support them to visit maximum attractive places in SOUTH KANARA also simultaneously enjoy playing in the seashore daily in this clean beach with family, kids, friends and parents. 
            <br>
            <br>
            INTELLIGENTLY TRANSFORM YOUR EVERY VISIT TO SOUTH KANARA INTO A WELL PLANNED MEMORABLE PICNIC AND SPEND PLEASANT TIME WITH FAMILY KIDS, FRIENDS AND PARENTS.
          </p>      
          </div>
    </div>
  </section>

  <!-- service section ends -->

  <!-- about section -->

  <!-- about section ends -->

  <!-- team section -->
 
  <!-- end team section -->

  <!-- contact section -->
  <!-- {% for msg in messages %}
    
    <div class="message-box-alert" id="messageBox">
      <p class="message-text">{{msg}}</p>
  </div>

    {% endfor %}
  <section class="contact_section " id="contact_stop">
    <div class="container-fluid">

      {% comment %} <div class="row">
         <div class="col-md-6 px-0">
          {% comment %} <div class="img-box ">
            <img src="{% static 'images/logo.png' %}" class="box_img"  alt="about img">
          </div>
        </div>  
        {% endcomment %}
    <div class="col-md-5 mx-auto">
          <div class="form_container">
            <div class="heading_container heading_center">
              <h2>Rate Us!</h2>
            </div>
            <form action="/contacts/" method="post">
              {% csrf_token %}
             
              {% comment %} <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" placeholder="Your Place"  name="place" required/>
                </div>
              </div> {% endcomment %}
              <div class="form-row">
                {% comment %} <div class="form-group col">
                  <input type="text" class="form-control" placeholder="Your Phone Number" name="phno" pattern="[0-9]{10}" maxlength="10" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                </div> {% endcomment %}

          
                {% comment %} <label>Rating</label> {% endcomment %}
                <div class="form-group col">
                  <fieldset class="rating">

        <input type="radio" id="no-rate" class="input-no-rate" name="Ratings" value="0" checked="" aria-label="No rating.">

        <input type="radio" id="rate1" name="Ratings" value="1">
        <label for="rate1">1 star</label>

        <input type="radio" id="rate2" name="Ratings" value="2">
        <label for="rate2">2 stars</label>

        <input type="radio" id="rate3" name="Ratings" value="3" checked>
        <label for="rate3">3 stars</label>

        <input type="radio" id="rate4" name="Ratings" value="4" >
        <label for="rate4">4 stars</label>

        <input type="radio" id="rate5" name="Ratings" value="5">
        <label for="rate5">5 stars</label>

        <span class="focus-ring"></span>
      </fieldset>
                </div> 
              </div>



              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" placeholder="Your Name"  name="name" required/>
                </div>
              </div>

              {% comment %} <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="coi">Check In Date</label>
                  <input type="date" id="coi" class="form-control" name="date_in" required>
                </div>
                
                <div class="form-group col-lg-6">
                  <label for="cod">Check Out Date</label>
                  <input type="date" id="cod" class="form-control"  name="date_out" required>
                </div>
              </div> {% endcomment %}
              
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="message-box form-control" placeholder="Feedback (Optional)" name="msg"/>
                </div>
              </div>
              <div class="btn_box">
                <input type="submit" />
              </div>
            </form>
          </div> 
        </div>
      </section>
        <div class="review_data">
          <ul id="data-list">
            
                {% if not data %}
                <h6 class="no_data"></h6>
                {% else %}
                <h6 class="no_data">Reviews</h6>
                {% endif %}
                
                {% for entry in data %}
                <li class="all_intrest">
                    {% comment %} <button class="delete-btn" type="submit" name="id" value="{{ entry.id }}">Delete</button> {% endcomment %}
                    <div class="detail">
                      <span class="name">⭐ {{ entry.Ratings }} / 5 </span>
                        <p>{{ entry.Name }}</p>
                        <p id="msbox">{{ entry.Custom_msg }}</p>
                    
                  </div>
                </li>
                {% endfor %}
              
              </ul>
              {% if data %}

              <form action="/feedbacks/" >
              <div class="center-container">
                <input type="submit" value="View More..." name="ViewMore" class="btnvw">
                    
              
            </div>
          </form>
            {% endif %}
            
            </div>
      
          </div>
    </div> -->
  <!-- nearby places start -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="" id="place_stop">
          Places Nearby
        </h2>
        <p class="col-lg-8 px-0">
          Whether you're a tourist or a local, these nearby gems are worth a visit:

        </p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <img src="{% static 'images/murudeshwara.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Murudeshwara 
                  </h3>
                  <h4>
                    Distance : 126Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/sringeri.jpeg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Sringeri Vidya Shankara Temple
                  </h3>
                  <h4>
                    Distance : 92Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/kapu.jpeg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Light House,Kapu
                  </h3>
                  <h4>
                    Distance : 11Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/krishna_mata.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Shree Krishna Temple,Udupi
                  </h3>
                  <h4>
                    Distance : 26Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/seawalk.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Seawalk,Malpe
                  </h3>
                  <h4>
                    Distance : 34Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/kateel.JPG' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Kateel Sri Durgaparameshwari Temple
                  </h3>
                  <h4>
                    Distance : 20Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/kollurjpeg.jpeg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Sri Mookambika Temple,Kollur
                  </h3>
                  <h4>
                    Distance : 98Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/st_lawrence.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                   Basillica St.Lawrence Attur
                  </h3>
                  <h4>
                    Distance : 30Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/karkala-gomateshwara.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Sri Gomateshwara,Karkala
                  </h3>
                  <h4>
                    Distance : 34Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/Kudremukh.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                    Kudremukh
                  </h3>
                  <h4>
                    Distance : 92Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/mahalakshmi.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                   Uchila Sri Mahalakshmi Temple
                  </h3>
                  <h4>
                    Distance : 9Km
                  </h4>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/maravante.jpg' %}" alt="" />
              <div class="box ">
                
                <div class="detail-box">
                  <h3>
                   Maravanthe Beach
                  </h3>
                  <h4>
                    Distance : 79Km
                  </h4>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      
      
      <div id="about_stop">
        
      </div>
    </div>
  </section>
  
  <!-- end contact section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <!-- <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
        <hr>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container ">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Jone Mark
                    </h5>
                    <p>
                      Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                    </p>
                    <span>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="carousel-item">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container ">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Jone Mark
                    </h5>
                    <p>
                      Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                    </p>
                    <span>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container ">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Jone Mark
                    </h5>
                    <p>
                      Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                    </p>
                    <span>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span>
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end client section -->

  <center><div id="pre_stop"></div>
  <section class="about_section db">
              <h2 class="" id="precautions">
                Precautions
              </h2>
            </div id="pre-width">
            <p class="detail_p_mt">
               Guest (children / elder ) shall not take the risk of entering the sea in absence of lifeguards. Mathru Chaya beach home stay management /team shall not be held responsible for any eventualities.
              </p>
            
          </div>
  </section></center>

  <div><br></div>


  <!-- info section -->

  <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="#home">
              <img src="{% static 'images/logo.png' %}" alt="" height="50px">
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
              <a href="https://maps.app.goo.gl/chrrw2NMqCtXfQdKA">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="#home">
                <i class="fa fa-phone" id="phone-stop" aria-hidden="true"></i>
                <span>
                  +91 8655264351
                </span>
              </a>
            </div>
          </div>
          <!-- <div class="col-md-4 ">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info_detail">
              <h5>
                Home Stay
              </h5>
              <p>
                Mathruchaya Beach Home is located right in front of Arabian sea near Sagar Vidya Mandir. It is the right choice for Families of 4 or more members, who are searching for a combination of charm and a convenient position to enjoy with their family.
              </p>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6">
            <div class="info_form">
              <h5>
                NEWSLETTER
              </h5>
              <form action="">
                <input type="text" placeholder="Enter Your Email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div> -->
          <div class="col-lg-4 col-md-6">
            <div class="info_detail">
              <h5>
                Services
              </h5>
              <p>
                Each house contains 2 Bedroom, 2 Bathroom, 2 spacious hall and 1 Kitchen.

                One air conditioned bedroom
                One non AC bed room
                One kitchen with gas stove and gas cylinder with cooking utensils
                Solar water heater for hot water facility in bathroom
                Drinking water container with dispenser is provided in each house
                System supported by solar inverter for uninterrupted power supply at Mathru chaya home
              </p>
            </div>
          </div>
          
          <!-- <div class="col-lg-2 col-md-6">
            <div class="">
              <h5>
                Useful links
              </h5>
              <ul class="info_menu">
                <li>
                  <a href="index.html">
                    Home
                  </a>
                </li>
                <li>
                  <a href="about.html">
                    About
                  </a>
                </li>
                <li>
                  <a href="service.html">
                    Services
                  </a>
                </li>
                <li>
                  <a href="team.html">
                    Team
                  </a>
                </li>
                <li class="mb-0">
                  <a href="contact.html">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
         <span id="displayYear"></span> For Reservation & Booking <br><i class="fa fa-phone" aria-hidden="true"></i> +91 8655264351
      
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
  <!-- popper js -->
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> {% endcomment %}

  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js'%}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- nice select -->
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script> {% endcomment %}
  <!-- custom js -->
  <script src="{% static 'js/custom.js'%}"></script>
  <!-- Google Map -->
  {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script> {% endcomment %}

  <script>let vid_src="{% static 'images/VID-20231031-WA0000.mp4' %}"</script>
  <script src="{% static 'js/script.js'%}"></script>
  <!-- End Google Map -->
</body>

</html>





